:root {
  --layout-margin: 0 120px;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif Pro', serif;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  color: #666666;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: var(--layout-margin);
  border-bottom: 1px solid grey;
  width: 100%;
}

section {
  margin: var(--layout-margin);
  padding: 60px 0;
}

section + section {
  border-top: 1px solid #e6e6e6;
}

.header__list {
  display: flex;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  color: #000000;
}

.header__item+.header__item {
  margin-left: 40px;
}

.header__link {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  padding: 0 0 60px 0;
}

.card.horizontal .card-body {
  margin-left: 50px;
}

.card.horizontal .card-title {
  font-size: 36px;
  line-height: 42px;
}

.card-description {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: 24px;
  color: #999999;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: 18px;
  left: 50px;
  top: 35px;
  text-transform: uppercase;
  color: #000000
}

.card-text {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.card-meta {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #000000
}

.section-title {
  font-family: 'Libre Franklin', sans-serif;
  color: #999999;
  padding: 30px 0px 60px 0px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}


.button {
  font-family: 'Libre Franklin', sans-serif;
  color: #000000;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  padding: 21px 24px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 90px;
}

.card-grid {
  --card-min-width: 387px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 74px;
}

.latest-post {
  --card-min-width: 285px;
}

.featured-posts {
  --card-min-width: 450px;
}

footer {
  background-color: #141414;
  color: #ffffff;
  height: 100%;
  padding: 93px 120px 93px 120px;
  width: 100%;
}

.copyright {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-left: 15px;
  padding: 0px 0px 60px 0px;
  color: #666666;
  text-transform: uppercase;


}

.footer-title {
  display: flex;
  justify-content: space-between;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 123px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
  text-transform: uppercase; 

}

.footer-links {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));


}

.footer-links .style {
  height: 48px;
  width: 221px;
  left: 0px;
  border: 1px solid #CCCCCC;
  margin-left: 0px;
  padding: 18px 23px;

}

.style-send {
  height: 48px;
  width: 79px;
  left: 221px;
  color: #ffffff;
  background: #000000;
  text-transform: uppercase;

}

.footer-links h3 {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
  text-transform: uppercase;

}

a:any-link {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.input {
  display: flex;
  flex-direction: row;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  color: #666666;
  text-transform: uppercase;

}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;

}
.wrapper {
  border-bottom: 1px solid #4d4d4d;
  padding: 0px 0px 60px 0px;
}

@media screen and (max-width:1200px) {
  .logo {
    padding: 0px 20px 0px 0px;
  }

  .horizontal {
    display: flex;
    flex-direction: column;
  }

  .card.horizontal .card-body {
    margin-left: 0px;
  }
}
